<ion-header>
  <ion-toolbar>
    <ion-title>Combustível</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row class="linha">
    <ion-col size-sm="12" size-md="6">
    <ion-card>
    <ion-card-content>
    <ion-list>
    <ion-item>
    <ion-label position="floating">Gasolina</ion-label>
    <ion-input type="number" [(ngModel)]="gasolina"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="floating">Alcool</ion-label>
    <ion-input type="number" [(ngModel)]="alcool"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="calcularMedia()">Vale a pena?</ion-button>
    <ion-item>
    <ion-label position="floating">Média</ion-label>
    <ion-input type="number" [value]="media" readonly></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="floating">Situação</ion-label>
    <ion-input [value]="situacao" readonly></ion-input>
    </ion-item>
    </ion-list>
    </ion-card-content>
    </ion-card>
    </ion-col>
    </ion-row>
</ion-content>